body {
  margin-top: 70px;
  background: #333;
  color: grey;

}
h1 {
  color: white;
}
h4 {

  color: grey;
}

/*   possibly color the boxes
#Grams {
  color: blue;
}


#kg {
  color: green;
}


#ounce {
  color: red;
} */
